{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-option mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__text">
                        <h2>{% trans "Basket" %}</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <span>{% trans "Basket" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <nav aria-label="breadcrumb">#}
{#        <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>#}
{#            <li class="breadcrumb-item active" aria-current="page">{% trans "Basket" %}</li>#}
{#        </ol>#}
{#    </nav>#}
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}


{% block content %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'oscar/basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
