{% load static %}
{#<div class="col-sm-6 h1"><a href="{{ homepage_url }}">{% block brand_title %}{{ shop_name }}{% endblock %}</a><small> {{ shop_tagline }}</small></div>#}

<a href="{{ homepage_url }}"><img src="{% static 'img/logo.png' %}" width="80" alt=""></a>