{% load static %}
{% comment %}
    This file exists so you can easily add your own Javascript without
    having to fork layout.html etc. Instead, just override this file.

{% endcomment %}


<!-- Js Plugins -->
<script type="application/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jquery.barfiller.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/jquery.slicknav.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/popper.min.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/main.js' %}"></script>
<script type="application/javascript"  src="{% static 'js/serviceworker.js' %}"></script>
{#<script type="application/javascript"  src="{% static 'js/serviceworker.js' %}"></script>#}
{#<script type="application/javascript"  src="{% static 'js/custom.js' %}"></script>#}
<script>
if (typeof gettext === 'undefined') {
    jQuery.getScript('{% url 'javascript-catalog' %}');
}
</script>
{#<script src="https://maps.google.com/maps/api/js?key={{ maps_api_key }}&amp;libraries=places"></script>#}
{#<script src="{% static "stores/js/stores.js" %}"></script>#}