{% load i18n %}
{% load static %}
{% load opening_hours %}
{% load store_tags %}

<footer id="footer" class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Horaires d'ouverture</h6>

                        {% get_store as selected_store %}
                        {% if selected_store %}
                            <ul>
                                {% with periods=selected_store.opening_periods.all %}
                                    {% if periods|length %}
                                        {% regroup periods by weekday as grouped_periods %}
                                        {% for weekday in grouped_periods %}
                                            <li>
                                                {{ weekday.list.0|printable_weekday }}:
                                             {% for period in weekday.list %}
                                                    {{ period|printable_period:"H:i" }}
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </ul>
{#                            {% block selected_store %}#}
{#                                <span class="selected_store">{{ selected_store.name }}</span>#}
{#                            {% endblock %}#}
                        {% else %}
                            <p>{% block browse_store_text %}{% trans "Vous devez choisir un restaurant" %}{% endblock %}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{{ homepage_url }}"><img src="{% static 'img/logo.png' %}" width="150" alt=""></a>
                        </div>
                        <p>GoodFood, un projet réalisé par une équipe de développement appartenant au CESI Strasbourg, proposé pour votre plus
                        grand plaisir.</p>
{#                        <div class="footer__social">#}
{#                            <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            <a href="#"><i class="fa fa-instagram"></i></a>#}
{#                            <a href="#"><i class="fa fa-youtube-play"></i></a>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Newsletter</h6>
                        <p>Recevez les dernières offre de votre restaurant !</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
{#                  <div class="col-lg-5">#}
{#                    <div class="copyright__widget">#}
{#                        <ul>#}
{#                            <li><a href="#">Privacy Policy</a></li>#}
{#                            <li><a href="#">Terms & Conditions</a></li>#}
{#                            <li><a href="#">Site Map</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    {% endblock %}
</footer>
