{% load currency_filters %}
{% load i18n %}
{% load static %}

<div class="header__top__right__cart float-right">
    <a href="{% url 'basket:summary' %}"> <img src="{% static 'img/icon/cart.png' %}" alt="">   <span class="align-center">{{ request.basket.num_items }}</span></a>
    <div class="cart__price">
            {% trans "Basket total:" %}
        <span>
            {% if request.basket.is_tax_known %}
                {{ request.basket.total_incl_tax|currency:request.basket.currency }}
            {% else %}
                {{ request.basket.total_excl_tax|currency:request.basket.currency }}
            {% endif %}
        </span>
    </div>
</div>
{#<div class="basket-mini col-sm-5 text-right d-none d-md-block">#}
{##}
{#    <div class="btn-group">#}
{#      <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='{% url 'basket:summary' %}';">{% trans "View basket" %}</button>#}
{#      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#        <span class="sr-only">Toggle Dropdown</span>#}
{#      </button>#}
{#      <div class="dropdown-menu dropdown-menu-right">#}
{#        {% include "oscar/basket/partials/basket_quick.html" %}#}
{#      </div>#}
{#    </div>#}
{#</div>#}
