{% load i18n %}

<nav id="top_page" class="header__top__right__links navbar mt-xl-2 mt-md-2" >
    {% block nav_account_languages %}
    {% if LANGUAGES|length > 1 %}
        <form id="language_selector" class="form-inline mb-0 mt-2 mt-lg-0" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
            <div class="form-group mb-0">
                <select name="language" class="form-control">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-outline-secondary ml-2" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
        </form>
        {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
    {% block nav_account_navbar_authenticated %}
        <div class="dropdown button-group">
            <button class="btn secondary-btn dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" href="#">
                <i class="far fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                {% if num_unread_notifications > 0 %}
                    {# If user has new notifications - we change account link to go to inbox #}
                    <a type="button" href="{% url 'customer:notifications-inbox' %}" class="dropdown-item">
                        <i class="far fa-user mr-2"></i>
                        {% trans "Account" %}
                        <span class="badge badge-warning">{{ num_unread_notifications }}</span>
                    </a>
                {% else %}
                    <a type="button" href="{% url 'customer:summary' %}" class="dropdown-item">
                        <i class="far fa-user mr-2"></i>
                        {% trans "Account" %}
                    </a>
                {% endif %}
                {% if user.is_staff or perms.partner.dashboard_access %}
                    <a type="button" href="{% url 'dashboard:index' %}" class="dropdown-item">
                        <i class="fas fa-list-ul mr-2"></i>
                        {% trans "Dashboard" %}
                    </a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a type="button" id="logout_link" href="{% url 'customer:logout' %}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    {% trans "Logout" %}
                </a>
    {#                            <a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}" class="dropdown-item">#}
    {#                                {% trans 'Create a new wishlist' %}#}
    {#                            </a>#}
            </div>
        </div>
    {% endblock %}
    {% else %}
        <a id="login_link" href="{% url 'customer:login' %}" class="nav-link">
            <i class="fas fa-sign-in-alt mr-2"></i>
        </a>
    {% endif %}
</nav>
