{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load store_tags %}


    {% block navbar_collapse %}
    <div class="container">
        <div class="row">

        {% block nav %}
        <div class="col-lg-12">
            <nav class="header__menu mobile-menu">

            {% block nav_items %}
                <ul>{% category_tree as tree_categories %}
                    <li><a href="{% url 'catalogue:index' %}">Menu</a></li>
                    <li><a href="{{ tree_categories.0.url }}">Plats</a></li>
                    <li><a href="{{ tree_categories.3.url }}">Desserts</a></li>
                    <li><a href="{% url 'stores:index' %}">Restaurants</a></li>
                    <li class="nav-item">
                        <a type="button" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% get_store as selected_store %}
                            {% if selected_store %}
                                {% block selected_store %}
                                    <span class="selected_store">{{ selected_store.name }}</span>
                                {% endblock %}
                            {% else %}
                                {% block browse_store_text %}{% trans "Choix du restaurant" %}{% endblock %}
                            {% endif %}
                        </a>

                        <div class="dropdown-menu dropdown-submenu">
                            {% store_list as store_list %}
                            {% if selected_store %}
                                <a class="dropdown-item" href="{{ selected_store.get_absolute_url }}">{% trans "Voir le restaurant" %}</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            {% for store in store_list %}
                                <a class="dropdown-item" href="{% url 'basket:select-store' store.pk %}">{{ store.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>

            {% endblock %}

            </nav>
        </div>
        {% endblock %}
        </div>
    </div>


    {% endblock %}



{##}
{#    {% block navbar_basket %}#}
{#        <a class="btn btn-primary float-right btn-cart ml-auto d-inline-block d-md-none" href="{% url 'basket:summary' %}">#}
{#            <i class="fas fa-shopping-cart"></i>#}
{#            {% trans "Basket" %}#}
{#            {% if not request.basket.is_empty %}#}
{#                {% if request.basket.is_tax_known %}#}
{#                    {% blocktrans with total=request.basket.total_incl_tax|currency:request.basket.currency %}#}
{#                        Total: {{ total }}#}
{#                    {% endblocktrans %}#}
{#                {% else %}#}
{#                    {% blocktrans with total=request.basket.total_excl_tax|currency:request.basket.currency %}#}
{#                        Total: {{ total }}#}
{#                    {% endblocktrans %}#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        </a>#}
{#    {% endblock %}#}


{#                        <li class="nav-item dropdown">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                {% block browse_store_text %}{% trans "Browse store" %}{% endblock %}#}
{#                            </a>#}
{#                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                {% category_tree depth=1 as tree_categories %}#}
{#                                <a class="dropdown-item" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a>#}
{#                                {% if tree_categories %}#}
{#                                    <div class="dropdown-divider"></div>#}
{#                                    {% for tree_category in tree_categories %}#}
{#                                        <a class="dropdown-item" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                                <div class="dropdown-divider"></div>#}
{#                                {% block nav_dropdown_extra_items %}#}
{#                                    <a class="dropdown-item" href="{% url 'offer:list' %}">{% trans "Offers" %}</a>#}
{#                                {% endblock %}#}
{#                            </div>#}
{#                        </li>#}