{% load i18n %}
{% load static %}

<form class="inline-search mt-xl-3 mt-md-3 align-content-center" method="GET" action="{% url 'search:search' %}">
    <input class="form-control" name="q" placeholder="Search" aria-label="Search">
    <button href="#" class="search-switch btn align-center" type="submit"><img src="{% static 'img/icon/search.png' %}" alt=""></button>
</form>
