{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}stores{% endblock %}

{% block title %}
    {% trans "Store management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        {% if not filterform.is_empty %}
            <li class="breadcrumb-item">
                <a href="{% url 'stores-dashboard:store-list' %}">{% trans "Stores" %}</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ queryset_description }}</li>
    </ol>
</nav>
{% endblock %}

{% block header %}
    {% if user.is_staff %}
        <div class="page-header">
            <a href="{% url 'stores-dashboard:store-create' %}" class="btn btn-primary float-right"><i class="fas fa-plus"></i> {% trans "Create new store" %}</a>
            <h1>{% trans "Store Management" %}</h1>
        </div>
    {% endif %}
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-search"></i>{% trans "Search Stores" %}</h3>
    </div>
    <div class="card card-body">
        <form method="get" class="form-inline">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=filterform %}
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            {% if not filterform.is_empty %}
                <a href="?" class="btn">{% trans "Reset" %}</a>
            {% endif %}
        </form>
    </div>

    <div class="sub-header">
        <h2>{{ queryset_description }}</h2>
    </div>

    {% if store_list.count %}
        <form method="post" class="order_table">
            {% csrf_token %}
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Street" %}</th>
                    <th>{% trans "City" %}</th>
                    <th>{% trans "Post Code" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Country" %}</th>
                    <th>{% trans "Is pick up store?" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th></th>
                </tr>
                {% for store in store_list %}
                    <tr>
                        <th><a href="{% url 'stores-dashboard:store-update' store.pk %}">{{ store.name }}</a></th>
                        <td>{{ store.address.street }}</td>
                        <td>{{ store.address.line4 }}</td>
                        <td>{{ store.address.postcode }}</td>
                        <td>{{ store.address.state|default:"-" }}</td>
                        <td>{{ store.address.country }}</td>
                        <td>
                            {% if store.is_pickup_store %}
                                <span class="label label-success">{% trans "Yes" %}</span>
                            {% else %}
                                <span class="label label-danger">{% trans "No" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if store.is_active %}
                                <span class="label label-success">{% trans "Active" %}</span>
                            {% else %}
                                <span class="label label-danger">{% trans "Inactive" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info" href="{% url 'stores:detail' store.slug store.id %}">{% trans "View on site" %}</a>
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'stores-dashboard:store-update' store.id %}">{% trans "Edit" %}</a>
                                    <a class="dropdown-item" href="{% url 'stores-dashboard:store-delete' store.id %}">{% trans "Delete" %}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include "oscar/dashboard/partials/pagination.html" %}
        </form>

    {% else %}
        <p>{% trans "No stores found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
