{% load i18n %}
{% load l10n %}

<address data-name="{{ store.name }}" data-lat="{{ store.location.y|unlocalize }}" data-lng="{{ store.location.x|unlocalize }}">
    <a href="https://www.google.com/maps/dir//{{ store.location.y|unlocalize }},{{ store.location.x|unlocalize }}" target="_blank">
        {{ store.address.line1|wordwrap:20 }}<br />
        {% if store.address.line2 %}
            {{ store.address.line2|wordwrap:20 }}<br />
        {% endif %}
        {% if store.address.line3 %}
            {{ store.address.line3|wordwrap:20 }}<br />
        {% endif %}
        {% if store.address.line4 %}
            {{ store.address.line4|wordwrap:20 }}<br />
        {% endif %}
        {{ store.address.postcode }}
    </a>
</address>
