{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

<ul>
    {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
    {% block discount_totals %}
        {% if offer_discounts or voucher_discounts %}
            <li>
                <span>
                    {% if basket.is_tax_known and not show_tax_separately %}
                        {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                    {% else %}
                        {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                    {% endif %}
                </span>
                {% trans "Basket total (before discounts)" %}
            </li>
            {% for discount in offer_discounts %}
                <li>
                    <span class="badge badge-success">{% trans "Discount" %}</span> {{ discount.name }}
                    {% if discount.description %}
                        <br/><small>{{ discount.description }}</small>
                    {% endif %}
                    <span>-{{ discount.discount|currency:basket.currency }}</span>
                </li>
            {% endfor %}
            {% if voucher_discounts %}
                {% for discount in voucher_discounts %}
                <li>
                    {{ discount.voucher.name }} ({{ discount.voucher.code }})
                    <span>-{{ discount.discount|currency:basket.currency }}</span>
                    {% if editable %}
                        <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="{% trans 'Remove' %}" class="btn btn-sm btn-danger" />
                        </form>
                    {% endif %}
                </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block basket_total %}
        {% if offer_discounts or voucher_discounts %}
            <li>

                <span >
                    {% if not show_tax_separately and basket.is_tax_known %}
                        {{ basket.total_incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ basket.total_excl_tax|currency:basket.currency }}
                    {% endif %}
                </span>
                {% trans "Basket total (after discounts)" %}
            </li>
        {% else %}
            {# No discounts to basket #}
            <li>
                <span >
                    {% if not show_tax_separately and basket.is_tax_known %}
                        {{ basket.total_incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ basket.total_excl_tax|currency:basket.currency }}
                    {% endif %}
                </span>
                {% trans "Basket total" %}

            </li>
        {% endif %}
    {% endblock %}

    {% block shipping_totals %}
        <li><br/></li>
        <li>
            <h6>{% trans "Shipping" %}</h6>
            {% if shipping_methods|length > 1 and editable %}
                <small>{% trans "Alternative shipping methods can be chosen during checkout" %}</small>
            {% endif %}
        </li>
        {% if not shipping_method.is_discounted %}
            <li>
                {{ shipping_method.name }}
                <span>
                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                        {{ shipping_charge.incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ shipping_charge.excl_tax|currency:basket.currency }}
                    {% endif %}
                </span>
            </li>
        {% else %}
            {% shipping_charge_discount shipping_method basket as shipping_discount %}
            {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
            {# As shipping is discounted, we break it down into its original charge and a discount #}
            <li>
                {% trans "Shipping method" %}
                <span>{{ shipping_method.name }}</span>
            </li>
            <li>
                {% trans "Shipping total (before discounts)" %}
                <span>
                    {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                        {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                    {% endif %}
                </span>
            </li>
            {# This section needs adjustment to when taxes are shown separately #}
            <li>
                <span class="badge badge-success">{% trans "Discount" %}</span> {{ shipping_method.discount_name }}
                <span>-{{ shipping_discount|currency:basket.currency }}</span>
            </li>
            <li>
                {% trans "Shipping total (after discounts)" %}
                <span>
                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                        {{ shipping_charge.incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ shipping_charge.excl_tax|currency:basket.currency }}
                    {% endif %}
                </span>
            </li>
        {% endif %}
    {% endblock %}

    {% block surcharges %}
        {% if surcharges %}
            <li><br/></li>

            <li>
                <h6>{% trans "Surcharges" %}</h6>
            </li>
            {% for surcharge in surcharges %}
                <li>
                    {{ surcharge.surcharge.name }}
                    <span>
                        {% if not show_tax_separately and surcharge.price.is_tax_known %}
                            {{ surcharge.price.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ surcharge.price.excl_tax|currency:basket.currency }}
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block tax_totals %}
        {% if show_tax_separately %}
            <li><br/></li>
            <li>
                <h6>{% trans "Tax" %}</h6>
            </li>
            <li>
                {% trans "Basket" %}
                <span>
                    {{ basket.total_tax|currency:basket.currency }}
                </span>
            </li>
            <li>
                {% trans "Shipping" %}
                <span>
                    {{ shipping_charge.tax|currency:basket.currency }}
                </span>
            </li>
        {% endif %}
    {% endblock %}
    {% block post_order_action_totals %}
        {% if basket.post_order_actions %}
            <li><br/></li>
            <li>
                <h6>{% trans "Post order actions" %}</h6>
                <small>{% trans "These will be applied once your order is placed." %}</small>
            </li>
            {% for discount in basket.post_order_actions %}
                <li>
                    <span class="badge badge-success">{{ discount.name }}</span><br/>
                    <span>{{ discount.description }}</span>
                </li>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block order_total %}
        <li><br/></li>
        <li>
            <th class="total"><h6>{% trans "Order total" %}</h6></th>
            <span class="align-left">
                {% if order_total.is_tax_known %}
                    {{ order_total.incl_tax|currency:basket.currency }}
                {% else %}
                    {{ order_total.excl_tax|currency:basket.currency }}
                {% endif %}
            </span>
        </li>
        {% if not order_total.is_tax_known %}
            <tr>
                <td><small>{% trans "Taxes will be added during checkout." %}</small></td>
            </tr>
        {% endif %}
    {% endblock %}
    {% endwith %}

</ul>