.product__details__text h5 {
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 25px;
}

a:hover{
  color: gray;
}

.site-btn:hover{
  color: #f08632;
}

a{
  color: black;
}
a.nav-button{
  color: white;
}

a.nav-button:hover{
  color: gray;
}

h4{
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

h3{
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

h2{
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
h1{
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
a:active{
  color: #0c5460;
}
a:focus{
  color: #0c5460;
}

a.a-button {
  background-color: #F08632;
  box-shadow: 0 5px 0 red;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #F08632;
  margin-bottom: 30px;
  width:100%;
}

/* Navbar links */
#navbar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-container{
  margin-bottom: 10px;
}

footer{
    margin-top: auto;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.menu_account{
  position: absolute;
  bottom: 25px;
}


.test{
  background-color: #F08632;
  color: #F08632;
}


.test:hover{
  background-color: #000000;
  color: #000000;
}


.input-group-search {
  text-align:center;
}


.add_to_cart_button {
  display: none;
}

@media only screen and (max-width: 767px) {
  .add_to_cart_button {
    display: inline-block;
    background: none!important;
    border: none;
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    border-bottom: 2px solid #f08632;
    padding-bottom: 4px;
    animation: none;
  }
}


.border__bottom{

  border-bottom: 1px solid gray;
}



.form__input input {
  font-size: 14px;
  color: #444444;
  height: 50px;
  width: 75%;
  border: 1px solid #e1e1e1;
  padding-left: 15px;
}



.form__input input::-webkit-input-placeholder {
  color: #444444;
}
.form__input input::-moz-placeholder {
  color: #444444;
}
.form__input input:-ms-input-placeholder {
  color: #444444;
}
.form__input input::-ms-input-placeholder {
  color: #444444;
}
.form__input input::placeholder {
  color: #444444;
}

.form__input button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  height: 50px;
  width: 25%;
  text-transform: uppercase;
  background: #111111;
  padding: 0 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__input button:hover{
  color: #f08632;
}

.stylized__button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  height: 50px;
  text-transform: uppercase;
  background: #111111;
  border: none;
}
.form__button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  height: 50px;
  text-transform: uppercase;
  background: #111111;
  border: none;
}


.shop__option__category form {
  border: 1px solid #e1e1e1;
  height: 46px;
  position: relative;
}
.shop__option__category form .nice-select {
  float: left;
  border: none;
  background: transparent;
  display: inline-block;
  width: 25%;
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  border-radius: 0;
}
.shop__option__category form .nice-select .list {
  margin-top: 0;
  border-radius: 0;
  width: 100%;
}
.shop__option__category form .nice-select:before {
  position: absolute;
  right: 0;
  top: 12px;
  width: 1px;
  height: 20px;
  background: #e1e1e1;
  content: "";
}
.shop__option__category form .nice-select:after {
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  height: 7px;
  margin-top: -5px;
  width: 7px;
  right: 26px;
}
.shop__option__category form .nice-select span {
  font-size: 16px;
  color: #000000;
}
.shop__option__category form input {
  width: 75%;
  height: 100%;
  border: none;
  font-size: 16px;
  color: #000000;
  padding-left: 30px;
}
.shop__option__category form input::-webkit-input-placeholder {
  color: #000000;
}
.shop__option__category form input::-moz-placeholder {
  color: #000000;
}
.shop__option__category form input:-ms-input-placeholder {
  color: #000000;
}
.shop__option__category form input::-ms-input-placeholder {
  color: #000000;
}
.shop__option__category form input::placeholder {
  color: #000000;
}
.shop__option__category form button {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
  height: 100%;
  padding: 0 15px;
}
@media only screen and (min-width: 767px) {
  .dropdown-submenu {
    background: #f08632;
  }
}

.header__menu ul li div a{
  background: #f08632; !important;
}
.header__menu ul li:hover div a{
  background: #f08632; !important;
}

.header__menu ul li:hover div a:hover{
  color: #fff;
  background: black; !important;
}

.nav-category {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-category li ul {
  margin-left: 15px;
  font-style: italic;
}


.align-right-absolute {
  position: absolute;
  z-index: 99;
  right:0;
}
  /*button {*/
  /*  display: inline-block;*/
  /*  background: none!important;*/
  /*  border: none;*/
  /*  color: #111111;*/
  /*  font-size: 16px;*/
  /*  font-weight: 600;*/
  /*  margin-top: 10px;*/
  /*  border-bottom: 2px solid #f08632;*/
  /*  padding-bottom: 4px;*/
  /*}*/

/* buttons */
.primary-btn.btn-sm {
  border: none;
  padding: 7px 20px;
}

.site-btn.btn-sm {
  border: none;
  padding: 7px 20px;
}

.table td{
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

.table th{
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

.nav-pills .nav-link-profile.active{
    color: #fff;
    background-color: #111111; !important;
    font-weight: 600; !important;
}



.inline-search {
    display: flex;
    align-items: center;
}

.nav-category li ul{
      list-style: disc;
}