{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-6 col-sm-12 mt-2" >
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Email sent' %}</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
                        <span>{% trans 'Email sent' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#{% block headertext %}{% trans "Email sent" %}{% endblock %}#}

{% block content %}
    <p class="mt-4">
    {% blocktrans %}
        We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
        If you don't receive an email, please make sure you've entered the address you registered with, and check
        your spam folder.
    {% endblocktrans %}
    </p>
{% endblock %}
