{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Enter a new password' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-6 col-sm-12 mt-2" >
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Enter a new password' %}</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
                        <span>{% trans 'Enter a new password' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block headertext %}{% trans "Enter a new password" %}{% endblock %}#}

{% block content %}
    {% if validlink %}
        <p class="mt-4">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form id="password_reset_form" method="post">
            {% csrf_token %}
            {% include 'oscar/partials/form_fields.html' %}
            <div class="form-group form-actions">
                <button class="btn primary-btn btn-lg" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
            </div>
        </form>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}

{% endblock %}
