{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-6 col-sm-12 mt-2" >
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Password reset' %}</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <span>{% trans 'Password reset' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block headertext %}{% trans "Password reset" %}{% endblock %}#}

{% block content %}

    <form class="mt-4" id="password_reset_form" method="post">
        {% csrf_token %}
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        {% include 'oscar/partials/form_fields.html' with style='stacked' %}
        <div class="form-group form-actions">
            <button type="submit" class="btn primary-btn btn-lg" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send reset email' %}</button>
        </div>
    </form>

{% endblock %}
