{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-6 col-sm-12 mt-2" >
                    <div class="breadcrumb__text">
                        <h2>{% trans "Password reset complete" %}</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
                        <span>{% trans 'Complete' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block headertext %}{% trans "Password reset complete" %}{% endblock %}#}

{% block content %}
    <p class="mt-4">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{{ login_url }}" class="btn btn-lg btn-primary">{% trans 'Log in' %}</a></p>
{% endblock %}
