{% extends "oscar/customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load i18n %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.css" %}" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "oscar/js/bootstrap4-datetimepicker/moment-with-locales.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__text">
                        <h2>{{ product.get_title }}</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
                        <span>{% trans 'Order history' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tabcontent %}

    {% if orders or form.is_bound %}
        <div class="mt-4">
            <h2>{% trans "Filter" %}</h2>
            <form method="get">
                {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
                <div class="form-group row">
                    <div class="offset-sm-4 col-sm-8">
                        <button type="submit" class="btn primary-btn btn-sm" data-loading-text="{% trans 'Filtering...' %}">{% trans 'Filter results' %}</button>
                        <a href="{% url 'customer:order-list' %}" class="btn site-btn btn-sm">{% trans 'Reset' %}</a>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
    {% endif %}

    {% if orders %}
        <h2>{{ form.description }}</h2>
        <table class="table">
            <tr>
                <th>{% trans "Order number" %}</th>
                <th>{% trans "Num items" %}</th>
                <th>{% trans "Total inc tax" %}</th>
                <th>{% trans "Date submitted" %}</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'customer:order' order_number=order.number %}">{{ order.number }}</a></td>
                    <td>{{ order.num_items }}</td>
                    <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                    <td>{{ order.date_placed }}</td>
                </tr>
            {% endfor %}
        </table>
        {% include "oscar/partials/pagination.html" %}
    {% else %}
        {% if form.is_bound %}
            <p>{% trans "No orders match your search." %}</p>
        {% else %}
            <p>{% trans "You haven't placed any orders." %}</p>
        {% endif %}
    {% endif %}

{% endblock tabcontent %}
