{% extends "oscar/base.html" %}
{% load static %}
{% load i18n %}
{% load currency_filters %}
{% load store_tags %}


{% block styles %}
     <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/barfiller.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/all.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css">
{% endblock %}

{% block layout %}
    <body>
{#    <!-- Page Preloder -->#}
{#    <div id="preloder">#}
{#        <div class="loader"></div>#}
{#    </div>#}
{##}
{##}
<div class="page-container">

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo d-flex justify-content-center">
            <a href="{{homepage_url}}"><img src="{% static 'img/logo.png' %}" width="100" alt=""></a>
        </div>

        <div class="offcanvas__cart d-flex justify-content-center">
            <div class="offcanvas__cart__item">

                <a href="{% url 'basket:summary' %}"><img src="{% static 'img/icon/cart.png' %}" alt="">
                    <span class="align-center">{{ request.basket.num_items }}</span>
                </a>
                <div class="cart__price mr-1">{% trans "Basket total:" %}
                    <a href="{% url 'basket:summary' %}">
                        {% if request.basket.is_tax_known %}
                            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                        {% else %}
                            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <form method="GET" class="align-content-center"  action="{% url 'search:search' %}">
            <div class="form-group">
                <input class="form-control" name="q" placeholder="{% trans "Search" %}" aria-label="Search">
            </div>
            <div class="form-row">
                <div class="form-group mx-auto">
                    <button href="#" class="btn" type="submit"><img src="{% static 'img/icon/search.png' %}" alt=""></button>
                </div>
            </div>
        </form>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
        <nav class=" slicknav_nav nav flex-column menu_account" >
            {% if user.is_authenticated %}
            {% block nav_account_navbar_authenticated %}
                {% if num_unread_notifications > 0 %}
                    {# If user has new notifications - we change account link to go to inbox #}
                    <a class="nav-link" href="{% url 'customer:notifications-inbox' %}">
                        <i class="far fa-user mr-2"></i>
                        {% trans "Account" %}
                        <span class="badge badge-warning">{{ num_unread_notifications }}</span>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'customer:summary' %}">
                        <i class="far fa-user mr-2"></i>
                        {% trans "Account" %}
                    </a>
                {% endif %}
                {% if user.is_staff or perms.partner.dashboard_access %}
                    <a class="nav-link" href="{% url 'dashboard:index' %}">
                        {% trans "Dashboard" %}
                    </a>
                {% endif %}
                <a class="nav-link" type="button" id="logout_link" href="{% url 'customer:logout' %}">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    {% trans "Logout" %}
                </a>
            {% endblock %}
            {% else %}
                <a id="login_link" href="{% url 'customer:login' %}" class="nav-link">
                    <i class="fas fa-sign-in-alt mr-2"></i> {% trans "Login" %}
                </a>

            {% endif %}
        </nav>
        </div>
    </div>
    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header mb-4" >
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container header__top__inner">
                            <div class="row header__logo header__top__left">
                                <div class="col-3">
                                    {% include "oscar/partials/brand.html" %}
                                </div>
                                <div class="col-9">
                                    {% include "oscar/partials/search.html" %}
                                </div>
                            </div>
                            <div class="row header__top__right header__account__infos">
                                <div class="col-9">
                                    {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
                                </div>
                                <div class="col-3">
                                    {% include "oscar/partials/nav_accounts.html" %}
                                    {# Mini-basket wrapped in a block so some templates can now display it #}
                                </div>
                            </div>
                            {% block navbar_toggler %}
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-basket">
            <div class="offcanvas__cart__item">
                <div class="cart__price mr-1">{% trans "Basket total:" %}
                    <a href="{% url 'basket:summary' %}">
                        {% if request.basket.is_tax_known %}
                            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                        {% else %}
                            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                        {% endif %}
                    </a>
                </div>
                <a href="{% url 'basket:summary' %}"><img src="{% static 'img/icon/cart.png' %}" alt="">
                    <span class="align-center">{{ request.basket.num_items }}</span>
                </a>
            </div>

        </div>
        {# Menu pour mobiles #}
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
        {% block navigation %}
            {% include "oscar/partials/nav_primary.html" %}
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container page" >
    {% get_store as selected_store %}
    {% if not selected_store %}
        <div class="alert alert-info" role="alert">
          {% trans "Vous devez sélectionner un restaurant afin de pouvoir accéder au contenu du site" %}
        </div>
    {% endif %}
            <div class="page_inner" id="content-wrap">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "oscar/partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
    {% include "oscar/partials/footer.html" %}
</body>
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap4/bootstrap.bundle.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
