{% load static %}
<script>
if (typeof gettext === 'undefined') {
    jQuery.getScript('{% url 'javascript-catalog' %}');
}
</script>
<script src="https://maps.google.com/maps/api/js?key={{ maps_api_key }}&amp;libraries=places"></script>
<script src="{% static "stores/js/stores.js" %}"></script>