{% extends "oscar/layout.html" %}
{% load i18n image_tags static %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{% static 'stores/css/stores.css' %}">
{% endblock %}

{% block title %}
    {{ store.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">

    <div class="breadcrumb-option mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__text">
                        <h2>{{ store.name }}</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'stores:index' %}">{% trans "Stores" %}</a>
                        <span>{{ store.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{#{% block headertext %}{{ store.name }}{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="store-details content-block">

                {% if store.image %}
                    {% oscar_thumbnail store.image "300x300" as im %}
                    <img alt="{{ store.name }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid mb-3">
                {% endif %}
                <br/>
                <a href="{% url 'basket:select-store' store.pk %}" class="btn primary-btn btn-lg my-4">{% trans "Sélectionner ce restaurant" %}</a>

                {% include "stores/partials/store_address.html" %}
                {% include "stores/partials/store_contact.html" %}
            </div>

            <h3>{% trans "Opening hours" %}</h3>
            {% include "stores/partials/store_opening_periods.html" %}

        </div>
        <div class="col-md-8">
            <section class="row">
                <map>
                    <div class="store-map" style="width: 720px; height:450px;"></div>
                </map>
                <h3 class="col-sm-12">Description</h3>
                <p  class="col-sm-12">
                    {{ store.description|safe }}
                </p>
            </section>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "stores/partials/extrascripts.html" %}
{% endblock %}

{% block onbodyload %}
    stores.maps.initStore();
{% endblock %}
