{% extends "oscar/layout.html" %}
{% load currency_filters i18n image_tags l10n static widget_tweaks store_tags %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{% static 'stores/css/stores.css' %}" />
{% endblock %}

{% block title %}
{{ queryset_description }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumb-option mb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__text">
                        <h2>{{ queryset_description }}</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="breadcrumb__links">
                        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                        <a href="{% url 'stores:index' %}">{% trans "Stores" %}</a>
                        <span>{{ queryset_description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{##}
{#{% block headertext %}#}
{#{{ queryset_description }}#}
{#{% endblock %}#}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if all_stores %}
        <div class="col-lg-3 view-stores">
            <form id="store-search" method="get">
                <div class="form__input">
                    {% render_field form.query %}
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
                <header class="divide-header">
                    <em>-</em> <span>{% trans "or" %}</span> <em>-</em>
                </header>

                {{ form.non_field_errors }}

                {# Hidden fields that are manipulated by JS #}
                {{ form.latitude }}
                {{ form.longitude }}
                <button type="button" class="btn site-btn btn-block" data-behaviours="geo-location"><i class="fas fa-map-marker-alt"></i> {% trans "Utiliser ma localisation" %}</button>


                {% if form.group.field.choices %}
                    <h4 class="mt-3 mb-3">{% trans "Filtrer par région" %}</h4>
                    {% include "oscar/partials/form_field.html" with field=form.group nolabel=True %}
                {% endif %}
            </form>


            <br/>
            <br/>
            <h3>All stores</h3>
            <ul class="nav flex-column">
                {% for store in all_stores %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stores:detail' store.slug store.pk %}">
                        {{ store.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9">
            {% if store_list %}
                <div id="store-map" style="width: 100%; height: 380px;"></div>
                <div class="row mt-4">
                {% for store in store_list %}
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4 ">
                    <div class="contact__address__item">
                        <h6>{{ store.name }}</h6>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-1">
                                        <span class="icon_pin_alt"></span>
                                    </div>
                                    <div class="col-11 mt-md-2">
                                        {% include "stores/partials/store_address.html" %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <a href="{% url 'basket:select-store' store.pk %}" class="btn primary-btn mt-2">{% trans "Sélectionner" %}</a>
                            <a href="{% url 'stores:detail' store.slug store.pk %}" class="btn site-btn mr-1 mt-2">{% trans "Détails" %}</a>
                        </div>
                        <div class=" border__bottom"></div>
                    </div>

                </div>
{#                <div class="stores-list">#}
{#                    <div class="sub-header">#}
{#                        <h4>{{ store.name }}#}
{#                        {% if store.distance %}#}
{#                            <span class="text-muted small">{{ store.distance.km|floatformat:2 }} km</span>#}
{#                        {% endif %}#}
{#                        <a href="{% url 'basket:select-store' store.pk %}" class="btn btn-primary float-right">{% trans "Select this store" %}</a>#}
{#                        <a href="{% url 'stores:detail' store.slug store.pk %}" class="btn btn-secondary mr-1 float-right">{% trans "View store details" %}</a>#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-4">#}
{#                            {% if store.image %}#}
{#                                {% oscar_thumbnail store.image "400x400" as im %}#}
{#                                <a href="{{ store.get_absolute_url }}"><img alt="{{ store.name }}" src="{{ im.url }}" width="{{ im.width}}" height="{{ im.height }}" class="img-fluid"></a>#}
{#                            {% else %}#}
{#                                <a href="{{ store.get_absolute_url }}">{{ store.name }}</a>#}
{#                            {% endif %}#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4">#}
{#                            {% include "stores/partials/store_address.html" %}#}
{#                            {% include "stores/partials/store_contact.html" %}#}
{#                            <br/>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4">#}
{#                            {% include "stores/partials/store_opening_periods.html" %}#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
                {% endfor %}
                </div>
            {% else %}
                <p>{% trans "Il n'y a pas de restaurant dans cette zone." %}</p>
            {% endif %}
        </div>
        {% else %}
        <p>{% trans "Pas de données disponibles." %}</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "stores/partials/extrascripts.html" %}
{% endblock %}

{% block onbodyload %}
    {% if store_list %}
        var storeData = [
            {% for store in store_list %}
            {
                'name': '{{ store.name|escapejs }}',
                'location': new google.maps.LatLng({{ store.location.y|unlocalize }}, {{ store.location.x|unlocalize }}),
                'imageURL': '{% if store.image %}{{ store.image.url }}{% endif %}',
                'address1': '{{ store.address.line1|escapejs }}',
                'address2': '{{ store.address.line2|escapejs }}',
                'address3': '{{ store.address.line3|escapejs }}',
                'address4': '{{ store.address.line4|escapejs }}',
                'postcode': '{{ store.address.postcode|escapejs }}',
                'url': '{{ store.get_absolute_url|escapejs }}',
                'email': '{{ store.email|escapejs }}',
                'phone': '{% if store.phone %}{{ store.phone|escapejs }}{% endif %}',
                'group': '{{ store.group.name|upper }}'
            } {% if forloop.counter < store_list|length %},{% endif %}
            {% endfor %}
        ];
        {% if longitude and latitude %}
            var pnt = new google.maps.LatLng({{ latitude}}, {{ longitude }});
        {% else %}
            var pnt = null;
        {% endif %}
        stores.maps.overview.init(storeData, pnt);
    {% endif %}
{% endblock %}
