{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}
        {% if wishlists %}
            <div class="dropdown">
                <a type="button" class="btn secondary-btn dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="#"  aria-haspopup="true" aria-expanded="false">
                    {% trans "Add to wish list" %}
                </a>
                <div class="dropdown-menu">
                    {% for wishlist in wishlists %}
                        {% if wishlist not in product_wishlists %}
                            <a href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}" class="dropdown-item">
                                {% blocktrans with name=wishlist.name %}
                                    Add to '{{ name }}' wish list
                                {% endblocktrans %}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}" class="dropdown-item">
                        {% trans 'Create a new wishlist' %}
                    </a>
                </div>
            </div>
        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist align-bottom">
                {% csrf_token %}

                <button type="submit" href="#" class="heart__btn"><span class="icon_heart_alt"></span></button>
                <button type="submit" class="btn btn-lg" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to wish list" %}</button>
            </form>
        {% endif %}
        <div>
            {% for wishlist in product_wishlists %}
                <form action="{% url 'customer:wishlists-remove-product' key=wishlist.key product_pk=product.id %}" method="post">
                    {% csrf_token %}
                    {% blocktrans with name=wishlist.name url=wishlist.get_absolute_url %}
                        <span class="float-left">Product is in <a href="{{ url }}">'{{ name }}'</a> wishlist.</span>
                    {% endblocktrans %}
                    <button type="submit" class="btn btn-sm float-right" data-loading-text="{% trans 'Removing...' %}">{% trans "Remove" %}</button>
                </form>
            {% endfor %}
        </div>

    {% endwith %}
{% else %}
    <button class="btn btn-lg btn-wishlist align-bottom" disabled="disabled" title="{% trans 'Please login to add products to a wish list.' %}">{% trans 'Add to wish list' %}</button><br/>
{% endif %}
