{% load i18n %}
{% load image_tags %}
{% load static %}
{% load thumbnail %}

{% with all_images=product.get_all_images %}
    {# use length rather then count as the images get queried anyways #}

    <div class="product__details__img">
    {% if all_images|length > 1 %}

        <div class="product__details__big__img">
            {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "440x440" padding=True as thumb %}
                <img class="big_img" src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endwith %}
        </div>
        <div class="product__details__thumb">
            {% for image in all_images %}
                {% oscar_thumbnail image.original "440x440" padding=True as thumb %}
                <div class="pt__item active">
                    <img data-imgbigurl="{{ thumb.url }}" src="{{ thumb.url }}" alt="">
                </div>
            {% endfor %}

        </div>

    {% else %}

        <div class="product__details__big__img">
            {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "440x400" upscale=False as thumb %}
                <img class="big_img" src="{{ thumb.url }}" alt="{{ product.get_title }}">
            {% endwith %}
        </div>

    {% endif %}
    </div>
{% endwith %}
