{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}

{% block product %}
    <section class="product-details spad">
        <div class="product__item">

        {% block product_image %}
            {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                <a href="{{ product.get_absolute_url }}">
                    <div class="product__item__pic set-bg rounded" data-setbg="{{ thumb.url }}">
                            <div class="product__label">
                                <span>{{ product.get_title }}</span>
                            </div>
                    </div>
                </a>
            {% endwith %}
        {% endblock %}

            {% block product_title %}
                <div class="product__item__text">
                    <h6><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a></h6>

                    {% block product_price %}
                        <div class="product_price w-100">
                            {% include "oscar/catalogue/partials/stock_record_catalogue.html" %}
                        </div>
                    {% endblock %}
                    {% if not product.is_parent and not product.has_options %}
                        {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}
                    {% endif %}

{#                    <div class="cart_add">#}
{#                        <a href="#">Add to cart</a>#}
{#                    </div>#}
                </div>
            {% endblock %}
        </div>
    </section>
{% endblock %}
