{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <h5 class="price_color mt-2">{% trans "Free" %}</h5>
    {% elif session.price.is_tax_known %}
        <h5 class="price_color mt-2">{{ session.price.incl_tax|currency:session.price.currency }}</h5>
    {% else %}
        <h5 class="price_color mt-2">{{ session.price.excl_tax|currency:session.price.currency }}</h5>
    {% endif %}
{% else %}
    <p class="price_color">&nbsp;</p>
{% endif %}
{#<p class="{{ session.availability.code }} availability">#}
{#    {% if session.availability.is_available_to_buy %}#}
{#        <i class="fas fa-check-circle"></i>#}
{#    {% else %}#}
{#        <i class="fas fa-ban"></i>#}
{#    {% endif %}#}
{#    {% if verbose %}#}
{#        {{ session.availability.message }}#}
{#    {% else %}#}
{#        {{ session.availability.short_message }}#}
{#    {% endif %}#}
{#</p>#}
