{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}

    <div class="product__item__price mt-2">
        {% if session.price.excl_tax == 0 %}
            {% trans "Free" %}
        {% elif session.price.is_tax_known %}
            {{ session.price.incl_tax|currency:session.price.currency }}
        {% else %}
            {{ session.price.excl_tax|currency:session.price.currency }}
        {% endif %}
    </div>

{% else %}
    <p class="price_color">&nbsp;</p>
{% endif %}
{#<p class="{{ session.availability.code }} availability">#}
{#    {% if session.availability.is_available_to_buy %}#}
{#        <i class="fas fa-check-circle"></i>#}
{#    {% else %}#}
{#        <i class="fas fa-ban"></i>#}
{#    {% endif %}#}
{#    {% if verbose %}#}
{#        {{ session.availability.message }}#}
{#    {% else %}#}
{#        {{ session.availability.short_message }}#}
{#    {% endif %}#}
{#</p>#}
