{% load i18n %}
{% load display_tags %}

<li class="nav-item">
    <a href="{% url 'customer:profile-view' %}" class="nav-link nav-link-profile{% if active_tab == 'profile' %} active{% endif %}">{% trans "Profile" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:order-list' %}" class="nav-link nav-link-profile{% if active_tab == 'orders' %} active{% endif %}">{% trans "Order History" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:address-list' %}" class="nav-link nav-link-profile{% if active_tab == 'addresses' %} active{% endif %}">{% trans "Address Book" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:email-list' %}" class="nav-link nav-link-profile{% if active_tab == 'emails' %} active{% endif %}">{% trans "Email History" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:alerts-list' %}" class="nav-link nav-link-profile{% if active_tab == 'alerts' %} active{% endif %}">{% trans "Product Alerts" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:notifications-inbox' %}" class="nav-link nav-link-profile{% if active_tab == 'notifications' %} active{% endif %}">{% trans "Notifications" %}</a>
</li>
{% iffeature 'wishlists' %}
    <li class="nav-item">
        <a href="{% url 'customer:wishlists-list' %}" class="nav-link nav-link-profile{% if active_tab == 'wishlists' %} active{% endif %}">{% trans "Wish Lists" %}</a>
    </li>
{% endiffeature %}